@font-face {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  src: url(/init/fonts/verdana.ttf);
}

/* Common style*/

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font: 1rem Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
}

* {
  box-sizing: border-box;
}

h2{
  /* font-weight: lighter; */
  font-size: 1.66rem;
  font-weight: 700;
  margin-top: 0;
}


.diagram {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }


.container {
  max-width: 80%;
  margin: 0 auto;
  width: calc(100% - 10%)
}


.header-logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1px auto 10px;
  transition: .5s;
  text-decoration: none;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
   color: white;
  font-size: 1.2rem;
  font-weight: lighter;
}


.bread-crumble{
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  gap: 1.25rem;
  /* margin-bottom: 15px; */
}


.bread-crumble.active{
  text-decoration: underline;
}


.bread-crumble span{
  color: #fff;
}

.bars {
  display: none;
}

.fa.active{
  display: block;
}

.fa.close{
  display: none;
}


.header-search {
  background-color: rgb(50, 35, 78);
  padding: 15px 0;
}


.bread-crumble a, .bread-crumble p {
  color: #fff;
  font-size: 1rem;
  margin: 0;
}


.form-container {
  display: flex;
  gap: 5px;
}


.form-container button {
  max-width: 50px;
  width: 100%;
}


.form-container input {
  width: 100%;
  padding: 10px;
}


.header-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: rijksoverheid;
}


.unsorted-list {
  list-style-type: disc; 
  padding-left: 20px; 
}


footer {
  background-color: #32234E;
  padding: 30px;
}


footer h3 {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  padding-bottom: 10px;
  font-weight: lighter;
  text-decoration: underline;
}


footer ul {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}


footer a {
  color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 7px;
}


footer img {
  transform: rotate(180deg);
  width: 22px;
}


.diagram-container {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
}


.diagram-text{
  margin-left: 10px;
  font-size: 1rem;
  line-height: 13px;
}


.diagram-item {
  position: absolute;
}


.diagram-span {
  background-color: #F1AD3E;
  max-width: 100px;
  height: auto;
  padding: 2px;
}


.diagram-span img{
 width: 25px;
 height: 20px;
}


.diagram-link{
  position: absolute;
  top: -30px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid black;
  background-color: #32234E;
  color: #fff;
  padding-right: 5px;
  height: 30px;
}

.diagram-center {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}


.diagram-center img {
  max-width: 200px;
  height: 143px;
}


.activiteitenschema {
  top: 45%;
  left: calc(10% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  background: url('../img/background/activiteitenschema.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.analyseschema {
  top: 25%;
  left: calc(30% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  background: url('../img/background/analyseschema_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.voorbeelden {
  top: 10%;
  left: calc(50% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  background: url('../img/background/voorbeelden.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}


.deelnemers {
  top: 25%;
  left: calc(70% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  background: url('../img/background/deelnemers.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.tips-tricks {
  top: 45%;
  left: calc(90% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  background: url('../img/background/tips&tricks.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.literatuur {
  top: 82.5%;
  left: calc(38% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  z-index: 1;
}

.contact {
  top: 82.5%;
  left: calc(62% - 125px);
  width: 100%;
  max-width: 250px;
  height: 150px;
  z-index: 1;
}

.diagram-item a {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.diagram-arrow{
  transform: rotate(180deg);
  width: 22px;
  padding-top: 3px;
  margin-left: 20px;
}

/*/////////////////////////////////////////////////////////////////////////*/
@media (max-width: 1620px) {
  .diagram-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
  }


  .diagram-link{
    position: absolute;
    top: -30px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: #32234E;
    color: #fff;
    padding-right: 5px;
    height: 30px;
  }


  .diagram-span {
    background-color: #F1AD3E;
    max-width: 100px;
    height: auto;
    padding: 2px;
  }


  .diagram-text{
    margin-left: 10px;
    font-size: 0.92rem;
    line-height: 13px;
  }
  

  .diagram-arrow{
    transform: rotate(180deg);
    width: 22px;
    padding-top: 3px;
    margin-left: 20px;
  }

  
  .diagram-center img {
    max-width: 200px;
    height: 143px;
  }


  .diagram-item a {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  

  .activiteitenschema {
    top: 45%;
    left: calc(10% - 112.5px);
    width: 100%;
    max-width: 225px;
    height: 135px;
    background: url('../img/background/activiteitenschema.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .analyseschema {
    top: 25%;
    left: calc(30% - 112.5px);
    width: 100%;
    max-width: 225px;
    height: 135px;
    background: url('../img/background/analyseschema_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .voorbeelden {
    top: 10%;
    left: calc(50% - 112.5px);
    width: 100%;
    max-width: 225px;
    height: 135px;
    background: url('../img/background/voorbeelden.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .deelnemers {
    top: 25%;
    left: calc(70% - 112.5px);
    width: 100%;
    max-width: 225px;
    height: 135px;
    background: url('../img/background/deelnemers.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .tips-tricks {
    top: 45%;
    left: calc(90% - 112.5px);
    width: 100%;
    max-width: 225px;
    height: 135px;
    background: url('../img/background/tips&tricks.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .literatuur {
    top: 82.5%;
    left: calc(38% - 112.5px);
    width: 100%;
    max-width: 225px;
    z-index: 1;
  }
  

  .contact {
    top: 82.5%;
    left: calc(62% - 112.5px);
    width: 100%;
    max-width: 225px;
    z-index: 1;
  }
}


@media (max-width: 1470px) {

  .bread-crumble a, .bread-crumble p {
    font-size: 0.8rem;
  }


  .diagram-container {
    position: relative;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
  }


  .diagram-link{
    position: absolute;
    top: -30px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: #32234E;
    color: #fff;
    padding-right: 5px;
    height: 30px;
  }


  .diagram-span {
    background-color: #F1AD3E;
    max-width: 100px;
    height: auto;
    padding: 2px;
  }


  .diagram-text{
    margin-left: 10px;
    font-size: 0.8rem;
    line-height: 13px;
  }
  

  .diagram-arrow{
    transform: rotate(180deg);
    width: 20px;
    padding-top: 3px;
    margin-left: 20px;
  }


  .diagram-center img {
    max-width: 200px;
    height: 143px;
  }


  .diagram-item a {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  

  .activiteitenschema {
    top: 45%;
    left: calc(10% - 100px);
    width: 100%;
    max-width: 200px;
    height: 135px;
    background: url('../img/background/activiteitenschema.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .analyseschema {
    top: 25%;
    left: calc(30% - 100px);
    width: 100%;
    max-width: 200px;
    height: 135px;
    background: url('../img/background/analyseschema_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .voorbeelden {
    top: 10%;
    left: calc(50% - 100px);
    width: 100%;
    max-width: 200px;
    height: 135px;
    background: url('../img/background/voorbeelden.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .deelnemers {
    top: 25%;
    left: calc(70% - 100px);
    width: 100%;
    max-width: 200px;
    height: 135px;
    background: url('../img/background/deelnemers.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .tips-tricks {
    top: 45%;
    left: calc(90% - 100px);
    width: 100%;
    max-width: 200px;
    height: 135px;
    background: url('../img/background/tips&tricks.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  

  .literatuur {
    top: 82.5%;
    left: calc(38% - 100px);
    width: 100%;
    max-width: 200px;
    z-index: 1;
  }
  
  
  .contact {
    top: 82.5%;
    left: calc(62% - 100px);
    width: 100%;
    max-width: 200px;
    z-index: 1;
  }
}


@media (max-width: 1320px) {

  .bread-crumble a, .bread-crumble p {
    font-size: 0.8rem;
  }

  .diagram-text{
    font-size: 0.7rem;
  }
  

  .diagram-arrow{
    width: 16px;
  }


  .activiteitenschema {
    left: calc(10% - 90px);
    max-width: 180px;
    height: 115px;
  }
  

  .analyseschema {
    left: calc(30% - 90px);
    max-width: 180px;
    height: 115px;
  }
  

  .voorbeelden {
    left: calc(50% - 90px);
    max-width: 180px;
    height: 115px;
  }
  

  .deelnemers {
    left: calc(70% - 90px);
    max-width: 180px;
    height: 115px;
  }
  

  .tips-tricks {
    left: calc(90% - 90px);
    max-width: 180px;
    height: 115px;
  }
  

  .literatuur {
    left: calc(38% - 90px);
    max-width: 180px;
  }
  
  
  .contact {
    left: calc(62% - 90px);
    max-width: 180px;
  }

  .diagram-center {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
  }

  .diagram-center img {
    max-width: 200px;
    height: 143px;
  }
}


@media (max-width: 1200px) {
  .diagram-text{
    font-size: 0.55rem;
  }
  

  .diagram-arrow{
    width: 14px;
  }


  .activiteitenschema {
    left: calc(10% - 80px);
    max-width: 160px;
    height: 100px;
  }
  

  .analyseschema {
    left: calc(30% - 80px);
    max-width: 160px;
    height: 100px;
  }
  

  .voorbeelden {
    left: calc(50% - 80px);
    max-width: 160px;
    height: 100px;
  }
  

  .deelnemers {
    left: calc(70% - 80px);
    max-width: 160px;
    height: 100px;
  }
  

  .tips-tricks {
    left: calc(90% - 80px);
    max-width: 160px;
    height: 100px;
  }
  

  .literatuur {
    left: calc(38% - 80px);
    max-width: 160px;
  }
  
  
  .contact {
    left: calc(62% - 80px);
    max-width: 160px;
  } 
}


@media (max-width: 1070px) {

  .bread-crumble a, .bread-crumble p {
    font-size: 0.7rem;
  }

  .diagram-text{
    font-size: 0.5rem;
  }
  

  .diagram-arrow{
    width: 1px;
  }

  .diagram-arrow img{
    width: 20px;
    height: 20px;
  }


  .activiteitenschema {
    top: 50%;
    left: calc(10% - 70px);
    max-width: 140px;
    height: 80px;
  }
  

  .analyseschema {
    top: 30%;
    left: calc(30% - 70px);
    max-width: 140px;
    height: 80px;
  }
  

  .voorbeelden {
    top: 15%;
    left: calc(50% - 70px);
    max-width: 140px;
    height: 80px;
  }
  

  .deelnemers {
    top: 30%;
    left: calc(70% - 70px);
    max-width: 140px;
    height: 80px;
  }
  

  .tips-tricks {
    top: 50%;
    left: calc(90% - 70px);
    max-width: 140px;
    height: 80px;
  }
  

  .literatuur {
    top: 85.5%;
    left: calc(38% - 70px);
    max-width: 140px;
    height: 50px;
  }
  
  
  .contact {
    top: 85.5%;
    left: calc(62% - 70px);
    max-width: 140px;
    height: 50px;
  }

  footer h3 {
    font-size: 1rem;
  }

  footer a {
    color: #fff;
    font-size: 0.8rem;
    gap: 7px;
  }

  .diagram-center {
    top: 66%;
  }
  

  .diagram-center img {
    max-width: 180px;
    height: 110px;
  }

  .diagram-container {
    height: 400px; 
   
  }
}



  /*///////////////////////////////////////////////////////////////////*/

  @media (max-width: 945px) {

    h2 {
      font-size: 1.3rem;
      margin-top: 25px;
    }
  
    p, li {
      font-size: 0.8rem;
    }
  
  
    footer {
      padding: 20px;
    }
  
    footer ul {
      grid-template-columns: repeat(2,1fr);
    }
    
    footer h3 {
      font-size: 1rem;
    }
  
    footer a {
      color: #fff;
      font-size: 0.8rem;
      gap: 7px;
    }
  
    .header-search {
      padding: 10px;
    }
  
    .bars {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1%;
      color: #fff;
      font-size: 1rem;
      text-transform: uppercase;
    }
  
  
    .diagram-span img{
      display: none;
    }
  
    .diagram-span {
      display: none;
      background-color: none;  
    }
  
    .bread-crumble {
      display: none;
    }
  
    .container-small{
    max-width: 100%;
    width: 100%
    }
  
    .diagram-text{
      font-size: 0.8rem;
    }
  
    .diagram-arrow {
      display: none;
    }
 
  
    .diagram-center {
      display: none;
    }
  
  .diagram-item a {
      border-top: none;
      justify-content: center;
    }
    
   
    .diagram-item:first-child  .diagram-link{
      border-top: 1px solid black;
    }
  
    .diagram-container {
    position: relative;
    width: 100%;
    height: 210px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .diagram-container.collapsed {
      display: none;
  }
  
  
    .activiteitenschema {
      background: none;
      height: 0px;
      top: 14.29%;
      left: 0;
      max-width: 100%;
    }
    
  
    .analyseschema {
      background: none;
      height: 0px;
      top: 28.58%;
      left: 0;
      max-width: 100%;
    }
    
  
    .voorbeelden {
      background: none;
      height: 0px;
      top: 42.87%;
      left: 0;
      max-width: 100%;
    }
    
  
    .deelnemers {
      background: none;
      height: 0px;
      top: 57.16%;
      left: 0;
      max-width: 100%;
    }
    
  
    .tips-tricks {
      background: none;
      height: 0px;
      top: 71.45%;
      left: 0;
      max-width: 100%;
    }
    
  
    .literatuur {
      background: none;
      height: 0px;
      top: 85.74%;
      left: 0;
      max-width: 100%;
    }
    
    
    .contact {
      background: none;
      height: 0px;
      top: 100%;
      left: 0;
      max-width: 100%;
    }
  }
